// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Vars
$primary-color: #00a8ff;

// Variable overrides first
$primary: $primary-color;
$enable-shadows: true;
$prefix: "mo-";

@import "../node_modules/bootstrap/scss/bootstrap";

// Styles
body {
    // anti-aliasing
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .banner {
        background: url('../assets/banner.jpg') no-repeat center center;
        background-size: cover;
        height: 0;
        padding-top: 39%;
        position: relative;

        @media (min-width: 1200px) {
            background-position-y: -164px;
            padding-top: 32%;
        }

        &__content {
            position: absolute;
            top: 5%;
            right: 1.5%;

            @media (min-width: 768px) {
                right: 3.5%;
            }

            @media (min-width: 1200px) {
                right: 2.5%;
            }

            @media (min-width: 1600px) {
                right: 15.5%;
            }
        }
    }

    .op-result {
        &__success-msg, &__fail-msg {
            border-radius: 5px;
            color: white;
            padding: 1rem;
        }

        &__success-msg {
            background: #0ce655;
        }

        &__fail-msg {
            background: #ff3c00;
        }
    }
}
