*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  /* Colors */
  --white: #fff;
  --gradient-primary: rgb(252, 125, 38);
  --gradient-linear: linear-gradient(
    90deg,
    rgba(252, 125, 38, 1) 0%,
    rgba(234, 58, 114, 1) 28%,
    rgba(160, 45, 157, 1) 62%,
    rgba(46, 44, 206, 1) 96%
  );
  --black: #2b2b2b;
  --background: #eee;

  /* Shadows */
  --shadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

/* Header */
.top-bar {
  background: var(--black);
  height: 10%;
  filter: var(--shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-bar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.top-bar__title {
  display: none;
}

.top-bar__logo-img {
  width: 473px;
}

.top-bar__content nav {
  height: 100%;
}

.top-bar__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
}

.top-bar__nav-item {
  font: bold 1.2rem Verdana, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
  transition: background-color 300ms ease-in-out;
}

.top-bar__nav-item:hover {
  background: var(--gradient-primary);
}

.top-bar__nav-link {
  color: var(--white);
  transition: transform 300ms ease-in-out;
}

.top-bar__nav-link:hover {
  transform: scale(1.05);
}

.main {
  height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 7%;
}

/* Index content */
.main__parag {
  color: var(--black);
  font: normal 16px Verdana, sans-serif;
  text-align: center;
}

.main__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__navigation-btn {
  background: url('../assets/forward-arrow.png') no-repeat center;
  background-size: contain;
  border: 2px solid var(--black);
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px 30px;
}

.main__video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

/* Images content */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.gallery__item {
  max-height: 500px;
  width: 30%;
  filter: var(--shadow);
}
.gallery__item-img {
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

/* Footer */
.footer {
  background: var(--gradient-linear);
  height: 15vh;
  filter: var(--shadow);
  width: 100%;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__networking-link {
  transition: filter 300ms ease-in-out;
}
.footer__networking-link:hover {
  filter: invert(1);
}
