*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:root {
  /* Colors */
  --white: #fff;
  --gradient-primary: rgb(252, 125, 38);
  --gradient-linear: linear-gradient(
    90deg,
    rgba(252, 125, 38, 1) 0%,
    rgba(234, 58, 114, 1) 28%,
    rgba(160, 45, 157, 1) 62%,
    rgba(46, 44, 206, 1) 96%
  );
  --black: #2b2b2b;
  --background: #EEE;
}

.top-bar {
    background: url('../assets/top-bar-cover.jpg') no-repeat;
    background-size: cover;
    background-position-y: -280px;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar__title {
  color: var(--white);
  font: bold 20px Verdana, sans-serif;
  margin: 0;
}

.main {
    background: var(--background);
}

.main__parag {
  color: var(--black);
  font: normal 16px Verdana, sans-serif;
}


.main__forward-btn {
    background: url('../assets/forward-arrow.png') no-repeat center;
    background-size: contain;
    border: 2px solid var(--black);
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 30px;
}