/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

:root {
  --primary-color: #1565c0;
  --secondary-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #414040;
}

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

html {
  -webkit-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

/* UTILITY */
.u-container {
  max-width: 320px;
  margin: 0 auto;
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* HEADER */
.topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.topbar__logo {
  margin: 1rem 0;
}

.topbar__logo-img {
  height: 83px;
  margin: 0 auto;
}

.topbar__navbar {
  position: relative;
  width: 100%;
}

.topbar__navbar-button {
  border: none;
  background: none;
  display: inline-block;
}

.topbar__navbar-button-img {
  height: 50px;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.topbar__navbar-button-img:hover {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.topbar__navbar-list {
  background: var(--primary-color);
  display: none;
  gap: 1rem;
  padding: 1rem 0;
  position: absolute;
  top: 90%;
  width: 100%;
}

.topbar__navbar-list--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar__navbar-item {
  border-bottom: 1px solid var(--white-color);
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.topbar__navbar-link {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

/* MAIN */
.banner {
  background: url('./assets/images/eventim-luisa-sonza-baile-da-braba-574x280.jpg')
    no-repeat center center;
  background-size: cover;
  height: 0;
  padding-top: 77%;
  width: 100%;
}

.banner__content {
  position: relative;
  bottom: 99px;
  background: white;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  padding: 0.5rem;
  margin-left: 1rem;
  -webkit-filter: drop-shadow(0px 0px 4px var(--black-color));
  filter: drop-shadow(0px 0px 4px var(--black-color));
}

.banner__title {
  color: var(--primary-color);
  font-size: 1rem;
}

.banner__title-highlight,
.banner__description-em {
  font-weight: bold;
}

.banner__description-em {
  color: var(--black-color);
}

.banner__cta {
  background: var(--primary-color);
  border-radius: 7px;
  color: var(--white-color);
  filter: drop-shadow(0px 0px 2px var(--black-color));
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.banner__cta:hover {
  background: var(--secondary-color);
}

.events {
  padding-top: 3rem;
  gap: 2rem;
  margin-bottom: 3rem;
}

.events__title,
.contact__title {
  color: var(--primary-color);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem;
}

.glider-container {
  margin-left: 10%;
  position: relative;
  width: 80%;
}

.glider-prev,
.glider-next {
  color: var(--secondary-color);
  top: 47%;
}

.events__item {
  height: auto;
  border-radius: 3px;
  background-color: var(--white-color);
  box-shadow: 1px 2px 4px rgb(0 0 0 / 15%);
  max-width: 350px;
  padding-bottom: 0;
}

.events__item-info {
  height: auto;
  position: relative;
  box-shadow: none;
  border-radius: 0;
}

.events__item-link {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-clip-path: polygon(0 59%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 59%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  padding-bottom: 4rem;
}

.events__item-cta {
  color: var(--white-color);
  position: relative;
  top: 45px;
  margin: 0 auto;
  transform: translate(0);
  text-decoration: none;
}

.events__item-image {
  background-size: cover;
  height: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-top: 52%;
}

.events__item-image--1 {
  background-image: url('./assets/images/event-1.png');
}

.events__item-image--2 {
  background-image: url('./assets/images/event-2.png');
}

.events__item-image--3 {
  background-image: url('./assets/images/event-3.jpg');
}

.events__item-image--4 {
  background-image: url('./assets/images/event-4.png');
}

.events__item-image--5 {
  background-image: url('./assets/images/event-5.jpg');
}

.events__item-image--6 {
  background-image: url('./assets/images/event-6.jpg');
}

.events__item-title {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  right: 2rem;
  top: 7rem;
  text-align: right;
  text-transform: uppercase;
  width: 75%;
}

.events__item-title:nth-child(3) {
  top: 5rem;
}

.events__item-title-span {
  background-image: linear-gradient(
    to right bottom,
    rgba(21, 101, 192, 0.85),
    rgba(33, 147, 246, 0.85)
  );
}

.events__item-description {
  color: var(--black-color);
  padding: 4rem 1rem 0px;
  text-align: justify;
}

.events__item-span {
  display: block;
  margin: 1rem 0;
}

.events__item-span-em {
  color: var(--primary-color);
  font-weight: bold;
}

/* FORM */
.contact {
  background-image: linear-gradient(
    105deg,
    rgba(33, 147, 246, 0.2) 0%,
    rgba(21, 101, 192, 0.2) 100%
  );
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 30%);
  margin-bottom: 3rem;
  padding: 2rem;
}

.contact__title {
  align-self: flex-start;
  width: 100%;
}

.form {
  margin-top: 2rem;
}

.form__group:not(:last-child) {
  margin-bottom: 1.4rem;
}

.form__input {
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid transparent;
  color: var(--black-color);
  display: block;
  padding: 0.5rem 1rem;
  width: 85%;
  resize: none;
  transition: all 0.3s;
}

.form__input:focus {
  border-bottom: 3px solid var(--secondary-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #999999;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__label {
  color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
  transition: all 0.3s;
}

.form__submit {
  background: var(--white-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.form__submit:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .banner__content {
    bottom: 150px;
    left: 3rem;
  }

  .glider-container {
    margin-left: 20%;
    width: 60%;
  }
}

@media (min-width: 768px) {
  .banner {
    background: url('./assets/images/eventim-luisa-sonza-baile-da-braba-1240x480.jpg')
      no-repeat center center;
    background-size: cover;
    padding-top: 38%;
  }

  .banner__content {
    bottom: 113px;
    left: 15rem;
  }

  .glider-container {
    margin-left: 3.3%;
    width: 93%;
  }

  .events__item {
    max-width: 340px;
  }

  .events__item:not(:last-child) {
    margin-right: 1rem;
  }

  .glider-container {
    margin-left: 4%;
    width: 92%;
  }

  .contact {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .u-container {
    max-width: 960px;
  }

  .topbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .topbar__navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .topbar__navbar-button {
    display: none;
  }

  .topbar__logo-img {
    height: 60px;
    padding: 0 2rem;
  }

  .topbar__navbar-list {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: inherit;
    width: 59%;
  }

  .topbar__navbar-item {
    border-bottom: 4px solid transparent;
    -webkit-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
  }

  .topbar__navbar-item:hover {
    border-color: var(--secondary-color);
  }

  .topbar__navbar-link {
    color: var(--black-color);
  }

  .banner__content {
    bottom: 132px;
    left: 23rem;
  }

  .events {
    flex-direction: row;
  }

  .glider-container {
    margin-left: 15%;
    width: 72%;
  }

  .events__item {
    flex: 1;
    max-width: 350px;
  }
  .events__item:first-child {
    margin-left: 0.5rem;
  }

  .contact {
    padding: 1.5rem 3rem;
  }

  .contact__form {
    width: 60%;
  }

  .form__input {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .u-container {
    max-width: 1140px;
  }

  .banner__content {
    bottom: 147px;
    left: 30rem;
  }

  .glider-container {
    margin-left: 5%;
    width: 91.5%;
  }

  .contact {
    padding: 1.5rem 4rem;
  }

  .contact__form {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .u-container {
    max-width: 1150px;
  }

  .banner__content {
    bottom: 194px;
    left: 33rem;
    gap: 15px;
    padding: 1rem;
  }

  .banner__title {
    font-size: 1.5rem;
  }

  .banner__description {
    font-size: 1.2rem;
  }

  .banner__cta {
    font-size: 1.2rem;
  }

  .glider-container {
    margin-left: 12%;
    width: 76.2%;
  }
}

@media (min-width: 1920px) {
  .u-container {
    max-width: 1258px;
  }

  .topbar__navbar-item {
    width: 17%;
  }

  .banner__content {
    bottom: 231px;
    left: 48rem;
    padding: 2rem;
  }

  .glider-container {
    margin-left: 20%;
    width: 57.5%;
  }
}
